@model IEnumerable< ProjectSchool.Models.PersonalAccountTeacher>
@{
    ViewData["Title"] = "Личный кабинет учителя";
}

@section Header {
    <heading style="flex:1; text-align: center; margin:0;">Личный кабинет учителя</heading>
    <button class="button_event" onclick="location.href='/Home'" style="float:right;">Выход</button>
}
<div style="display:flex; margin-top:50px;">
    @foreach (var item in Model)
    {
        <div class="container_data_person">
            <div class="container_personal_data">
                <label for="Surname">Фамилия:</label>
                <input type="text" name="Surname" value="@item.Surname" style="font-size: 14pt; font-family: Arial;" readonly />
            </div>
            <div class="container_personal_data">
                <label for="Name">Имя:</label>
                <input type="text" name="Name" value="@item.Name" style="font-size: 14pt; font-family: Arial;" readonly />
            </div>
            <div class="container_personal_data">
                <label for="Patronymic">Отчество:</label>
                <input type="text" name="Patronymic" value="@item.Patronymic" style="font-size: 14pt; font-family: Arial;" readonly />
            </div>
            <div class="container_personal_data">
                <label for="Subject">Класс:</label>
                <input type="text" name="Subject" value="@item.Subject" style="font-size: 14pt; font-family: Arial;" readonly />
            </div>
            
        </div>
        break;
    }

    <div class="container_link">
        <nav class="element_link_column">
            <a href="@ViewBag.targetUrlElectronicMagazine">Электронный журнал</a>
        </nav>
        <nav class="element_link_column">
            <a href="/Schedule">Расписание</a>
        </nav>
        <nav class="element_link_column">
            <a href="/News">Новости</a>
        </nav>
        <nav class="element_link_column">
            <a href="/Reviews">Отзывы о школе</a>
        </nav>
        <nav class="element_link_column">
            <a href="/Teachers">Учителя</a>
        </nav>
        <nav class="element_link_column">
            <a href="/SchoolInformation">О школе</a>
        </nav>
    </div>
</div>